[Unit]
Description=Paperless consumer
Requires=redis.service

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/src
ExecStart=python3 manage.py document_consumer

[Install]
WantedBy=multi-user.target