[Unit]
Description=Paperless scheduler
Requires=redis.service

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/src
ExecStart=python3 manage.py qcluster

[Install]
WantedBy=multi-user.target