[Unit]
Description=Paperless webserver
After=network.target
Wants=network.target
Requires=redis.service

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/src
ExecStart=__FINALPATH__/.local/bin/gunicorn -c __FINALPATH__/gunicorn.conf.py paperless.asgi:application

[Install]
WantedBy=multi-user.target